@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Radio+Canada&display=swap');

* {
  margin-bottom: 5px;
  font-family: 'Nunito Sans', sans-serif;
  
}

.ant-table{
  background-color:#CFF7CD;
  font-family: 'Nunito Sans', sans-serif;
}

#root > div.content.container.mt-4 > div.content > div > div > div > div > div > div > table > thead > tr > 
th:nth-child(-n + 6){
  background-color:#CFF7CD;
}
/* transection page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#F7D98B;
  font-family: 'Radio Canada', sans-serif;
}

/* transection page */
.content {
  background-color:#CFF7CD;
}
/* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 10px;
}

.anticon svg {
  font-size: 22px;
  cursor: pointer;
}

.active-icon {
  padding: 5px 5px;
  color: #ad0707;
  
}
.inactive-icon {
  padding: 5px 5px;
  color:#214459;
}

.filter-tab .ant-select-selector {
  width: 150px !important;
  
}

.ant-table-pagination-right {
  justify-content: center;
}

#root > div.content.container.mt-4 > div.content > div > div > div > ul{
  align-items: center;
}

h2{
  font-size: 12px; 
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-family: 'Radio Canada', sans-serif;
  background-color:#CFF7CD;
}